<h2>About the Timber Club:</h2>
<p>The Portland Timbers are an American professional soccer club based in Portland, Oregon. The Timbers compete in Major League Soccer (MLS) as a member club of the league's Western Conference.The Timbers play their home games at Providence Park since 2011 when the team began play as an expansion team in the league.

The club was founded in 2009, when the city of Portland was awarded an expansion berth to Major League Soccer. The team is own by Merritt Paulson who acquired the then USL Pro team in 2007. The club is the fourth soccer franchise based in Portland to share the legacy of the Timbers name, which originated with the original team, in the North American Soccer League in 1975.

In 2013, the Timbers finished the Western Conference, during the regular season, in first place clinching both their first-ever playoff appearance and CONCACAF Champions League berth. The franchise won the Western Conference Finals in the playoffs, and their first major trophy, the MLS Cup in 2015.</p>

<h3>Visit us at <a href="http://www.timbers.com/">www.timbers.com</a></h3>
