#body {
  background-color: #004812;
}

h2 {
  font-family: monospace;
  font-size: 30px;
  color: #EAE727;
  font-weight: bold;
}

p {
  font-family: Montserrat;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}
