* {
  box-sizing: border-box;
}

.custom-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-select label {
  font-family: Montserrat;
  color: rgb(17, 13, 13);
}

.custom-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: rgb(216, 219, 69);
   color: rgb(17, 13, 13);
}

.avatar {
  width: 100%;
  height: 200px;
  border-radius: 1%;
}

span {
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.player-header {
  color: #fff;
  width: 300px;
}

.jersey {
  background-color: red;
  width: 20px;
  height: 20px;
}

.player-title {
  text-align: center;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-list .player-item {
  width: 32%;
}
