* {
  box-sizing: border-box;
}

span {
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.custom-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-select label {
  font-family: Montserrat;
  color: #fff;
  letter-spacing: .3em;
}

.custom-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #000;
   color: #fff;
}

.avatar {
  width: 100%;
  height: 200px;
  border-radius: 1%;
}

.player-header {
  color: #fff;
  width: 300px;
  padding-top: 30px;
}

.jersey {
  background-color: red;
  width: 20px;
  height: 20px;
}

.player-title {
  text-align: center;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-item  {
  display: flex;
  margin-bottom: 40px;
}

.update-form {
  width: 100%;
  justify-content: center;
  margin-left: 100px;
  background-color: rgb(32, 32, 36);
  border: 1px solid #064206;
  padding-bottom: 20px;
  border-radius: 5px;

}

.btn-warning {
  width: 100%;
  margin-top: 10px;
}

.update-form li {
  color: #000;
}

.list {
  display: flex;
  justify-content: flex-start;
}

.list li {
  padding: 20px;
  font-family: monospace;
  color: red;
}

.list-title {
  font-weight: bold;
  font-family: Montserrat;
  color: #fff;
}
