<div class="custom-select">
  <label>Filter by goals scored:</label>
  <select (change)="onChange($event.target.value)" class="form-group">
    <option value="allGoals" selected="selected">All Players</option>
    <option value="lessGoals">Least Goals</option>
    <option value="moreGoals">Most Goals</option>
  </select>
</div>

<div class="player-list">
  <div *ngFor="let player of players | goals:filterByGoals">
    <div class="player-item">
      <div
        class="player-header"
        (click)="goToDetail(player)">
        <div class="player-header">
          <h3 class="player-title"><span class="jersey">{{player.jerseyNumber}}</span>{{player.name}}</h3>
        </div>
        <img
        class="avatar"
        src="{{player.image}}"
        alt="Image of {{player.name}}"
        />
      </div>
      <div
      class="update-form"
      *ngIf="currentRoute === '/admin'"
      >
        <div>
          <app-update
            [selectedPlayer]="player">
          </app-update>
        </div>
  </div>
    </div>
  </div>
</div>
