img {
  width: 600px;
  border-radius: 5px;
}

h3 {
  font-size: 50px;
  color: white;
}

.well {
  background-color: #004812;
  padding: 20px;
  margin: 20px;
}

p, li, h4 {
  color: #fdf9f3;
  font-style: italic;
}
h4 {
  font-size: 40px;

}

li {
  line-height: 50px;
  font-size: 20px;

}
select {
  width: 100%;
}

.forms {
  background-color: #004812;
}
span {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
