<div class="well">
  <h2>Add a New Player to the Roster:</h2>
  <div>
    <div>
      <label>Player Name:</label>
      <br>
      <input class="form-control" #newName required>
    </div>

    <div>
      <label>Player Age:</label>
      <br>
      <input class="form-control" #newAge required>
    </div>

    <div>
      <label>Player Birthplace:</label>
      <br>
      <input class="form-control" #newBirthplace required>
    </div>

    <div>
      <label>Player Team:</label>
      <br>
      <input class="form-control" #newTeam required>
    </div>

    <div>
      <label>Player Position:</label>
      <br>
      <input class="form-control" #newPosition required>
    </div>

    <div>
      <label>Player Jersey Number:</label>
      <br>
      <input class="form-control" #newJerseyNumber required>
    </div>

    <div>
      <label>Player Image:</label>
      <br>
      <input class="form-control" #newImage required>
    </div>

    <div>
      <label>Player Goals this Season:</label>
      <br>
      <input class="form-control" #newGoalsThisSeason required>
    </div><br>
    <button class="btn btn-success" (click)="submitForm(newName.value, newAge.value, newBirthplace.value, newTeam.value, newPosition.value, newJerseyNumber.value, newImage.value, newGoalsThisSeason.value); newName.value=''; newAge.value=''; newBirthplace.value=''; newTeam.value=''; newPosition.value=''; newJerseyNumber.value=''; newImage.value=''; newGoalsThisSeason.value=''">Add to Roster</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-list-players></app-list-players>
  </div>
</div>
