<h2>COACH ADMIN CENTER</h2>

<button class="btn btn-success new" (click)="onSelect()">Add New Player</button>
<div class="add-player" [hidden]="IsHidden">
  <div class="well forms">
      <div class="group">
        <div>
          <label>Name:</label>
          <br>
          <input class="form-control" #newName  #model="ngModel" [(ngModel)]="name" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>

        <div>
          <label>Age:</label>
          <br>
          <input type="number" class="form-control" #newAge #model="ngModel" [(ngModel)]="age" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>
      </div>
      <div class="group">
        <div>
          <label>Birthplace:</label>
          <br>
          <input class="form-control" #newBirthplace #model="ngModel" [(ngModel)]="birthplace" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>

        <div>
          <label>Previous Team:</label>
          <br>
          <input class="form-control" #newTeam #model="ngModel" [(ngModel)]="previousTeam" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>
      </div>
      <div class="group">
        <div>
          <label>Position:</label>
          <br>
          <input class="form-control" #newPosition #model="ngModel" [(ngModel)]="position" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>

        <div>
          <label>Jersey Number:</label>
          <br>
          <input type="number" class="form-control" #newJerseyNumber #model="ngModel" [(ngModel)]="jerseyNumber" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>
      </div>
      <div class="group">
        <div>
          <label>Image:</label>
          <br>
          <input class="form-control" #newImage #model="ngModel" [(ngModel)]="image" type="text" required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>

        <div>
          <label>Goals this Season:</label>
          <br>
          <input type="number" class="form-control" #newGoalsThisSeason required>
          <div *ngIf="model.invalid" style="color: red">Required</div>
        </div>
      </div>

      <div class="group-btn">
        <button class="btn btn-primary save" (click)="onSelect()" (click)="submitForm(newName.value, newAge.value, newBirthplace.value, newTeam.value, newPosition.value, newJerseyNumber.value, newImage.value, newGoalsThisSeason.value); newName.value=''; newAge.value=''; newBirthplace.value=''; newTeam.value=''; newPosition.value=''; newJerseyNumber.value=''; newImage.value=''; newGoalsThisSeason.value=''">Add to Roster</button>

      </div>
  </div>
</div>
<div>
  <div class="group">
    <app-list-players></app-list-players>
  </div>
</div>
