
.forms {
  display: flex;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(32, 32, 36);
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.group {

  padding-right: 10px;
}

h2 {
  color: rgb(17, 17, 18);
  font-family: Montserrat;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.new {
  margin-left: 45%;
  margin-bottom: 20px;
}

.save {
  margin-top: 10px;
}

.add-player {
  color: rgb(8, 8, 9);
}

.group-btn {
  width: 100%;
  text-align: center;
}
