<div class="well">
  <span>{{(playerToDisplay | async)?.jerseyNumber}}</span><h4>{{(playerToDisplay | async)?.name}}</h4>
  <img src="{{(playerToDisplay | async)?.image}}" alt="{{(playerToDisplay | async)?.title}}"/>
  <p>Age: {{(playerToDisplay | async)?.age}}</p>
  <p>Birthplace: {{(playerToDisplay | async)?.birthplace}}</p>
  <p>Team: {{(playerToDisplay | async)?.team}}</p>
  <p>Position: {{(playerToDisplay | async)?.position}}</p>
  <p>Goals this Season: {{(playerToDisplay | async)?.goalsThisSeason}}</p>
</div>
