<br>
<div class="well update">
  <h2 class="update-title">Update Player:</h2><br>
  <div class="group">
    <label>Name:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.name">

    <label>Age:</label>
    <br>
    <input type="number" class="form-control" [(ngModel)]="selectedPlayer.age">

    <label>Birthplace:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.birthplace">

    <label>Previous Team:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.team">
  </div>
  <div class="group">
    <label>Position:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.position">

    <label>Jersey Number:</label>
    <br>
    <input type="number" class="form-control" [(ngModel)]="selectedPlayer.jerseyNumber">

    <label>Image(URL):</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.image">

    <label>Goals this Season:</label>
    <br>
    <input type="number" class="form-control" [(ngModel)]="selectedPlayer.goalsThisSeason">

  </div>
  <div class="update-buttons">
    <br>
    <button class="btn btn-warning" (click)="beginUpdatingPlayer(selectedPlayer)">Update Player</button>
    <button class="btn btn-danger" (click)="beginDeletingPlayer(selectedPlayer)">Fire Player</button>
  </div>
</div>
