body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

#body {
  background-color: #004812;
}

li {
  list-style-type: none;
}

a:hover {
  background-color: #EAE727 !important;
  color: #000 !important;
  border-radius: 5px;
}

.header {
  background-image: url('./assets/img/timbers-banner.jpg');
  background-size: cover;
  height: 300px;
  color: #fff;
  margin-bottom: 20px;
}

.header a {
  color: #fff !important;
}

.nav {
  display: flex;
}

.nav li a {
  font-size: 25px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
  margin-top: 20px;
  padding: 25px;
}
